abstract-singleton
atproto
auto_gpt_plugin_template
black
bs4
build
colorama
flake8
isort
newsapi-python
pandas
pylint
pytest
pytest-cov
python-lorem
python-telegram-bot
requests
requests-mock
setuptools
tweepy==4.13.0
twine
validators
wheel
wolframalpha==5.0.0
