abstract-singleton
atproto
auto-gpt-plugin-template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@0.1.0
black
bs4
build
colorama
flake8
isort
newsapi-python
pandas
pylint
pytest
pytest-cov
python-lorem
python-telegram-bot
requests
requests-mock
setuptools
tweepy==4.13.0
twine
validators
wheel
wolframalpha==5.0.0
