black
isort
flake8
pylint
abstract-singleton
wheel
setuptools
build
twine
tweepy==4.13.0
pandas
python-lorem
auto_gpt_plugin_template
newsapi-python
requests
requests-mock
validators
pytest
pytest-cov
colorama
atproto
bs4
sounddevice
vosk
playsound
python-telegram-bot
